# Kopiraj ovaj fajl u .env i popuni pravim vrednostima
# NIKADA ne komituj .env fajl u Git!

ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxx

# Opciono - ako koristis SonarQube integraciju
SONAR_TOKEN=
SONAR_HOST_URL=http://localhost:9000
